# === Node ===
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Env / Secrets ===
.env
.env.*.local
.env.local

# === Next.js ===
.next
out
.cache

# === OS-specific ===
.DS_Store
Thumbs.db

# === Vercel ===
.vercel

# === Logs ===
logs
*.log
debug.log

# === IDEs ===
.vscode
.idea
*.swp
*.swo

# === MongoDB Dumps ===
dump/
*.archive
*.bson
*.json
